<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CorrigoServiceWebReference.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CorrigoServiceWebReference.Properties.Settings>
            <setting name="CorrigoServiceWebReference_CorrigoGA_CorrigoService"
                serializeAs="String">
                <value>http://am-ce97a.corrigo.com/wsdk/CorrigoService.asmx</value>
            </setting>
        </CorrigoServiceWebReference.Properties.Settings>
    </applicationSettings>
</configuration>